---
---

<center><h1>üìç üìç Overview of Subsetting in Pandas üìç üìç</h1></center>



---

#### `TABLE OF CONTENTS`

- What is an index?
- How to subset first N rows based on their position index?
- Can we change the index?
- Will the index be always numeric?
- How to subset the data based on a label of the index?
- Can we reset the index?
- How to subset the data based on a value of a column?

---


#### `READ THE DATA`

- In this notebook, we are going to use the big mart sales data that we have used previously. It is stored in the folder name `datasets`.

In [1]:
# import the pandas library
import pandas as pd

In [2]:
# read the big mart sales data
data = pd.read_csv('datasets/big_mart_sales.csv')

#### `WHAT IS INDEX?`

![](index.png)

-  You can see the index object by `DataFrame.index`.

In [3]:
# index of the dataframe
data.index

RangeIndex(start=0, stop=8523, step=1)

***So, In this case, we have the numeric index value start from the 0 and ends at 8523.***

In [4]:
# no. of rows and columns in the data
data.shape

(8523, 12)

In [5]:
# column index
data.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

#### `HOW TO SUBSET FIRST 'N' ROWS BASED ON THEIR POSITION INDEX?`

In [4]:
# view the top rows of the data
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

---

#### `CAN WE CHANGE THE INDEX?`

---

***The answer is `Yes`. We can change the index. Let's see how?***

---

#### Create a random list of 8523 numbers and set it as the index
---

In [6]:
# create random list
import random
random_list = [random.randint(1, 8523) for i in range(8523)]

In [7]:
random_list

[1997,
 6975,
 5179,
 4136,
 4184,
 14,
 7387,
 7833,
 2892,
 3395,
 6615,
 3134,
 1163,
 7241,
 7829,
 7723,
 186,
 1712,
 6902,
 6672,
 4299,
 5880,
 862,
 8176,
 7721,
 3870,
 7528,
 5078,
 4382,
 4667,
 5995,
 6756,
 6291,
 7800,
 1385,
 6319,
 4697,
 6649,
 2252,
 5800,
 4451,
 3622,
 3813,
 1695,
 7305,
 434,
 2912,
 7143,
 2040,
 6255,
 381,
 3447,
 258,
 2550,
 4058,
 6378,
 1071,
 5163,
 3861,
 4956,
 7008,
 7638,
 8054,
 5431,
 6417,
 3024,
 7340,
 699,
 8037,
 8209,
 1820,
 5928,
 7245,
 4301,
 7414,
 7545,
 4571,
 504,
 2990,
 7091,
 5904,
 5454,
 4180,
 5487,
 2900,
 1678,
 1461,
 4719,
 6697,
 3702,
 7825,
 7044,
 2611,
 31,
 5835,
 5470,
 6991,
 4175,
 3253,
 3105,
 3750,
 1045,
 1672,
 5254,
 4398,
 4520,
 3567,
 2339,
 3285,
 3191,
 4630,
 1826,
 2819,
 8520,
 3271,
 6983,
 7129,
 7477,
 5113,
 5357,
 7926,
 7813,
 4005,
 6689,
 7308,
 1159,
 558,
 5051,
 5806,
 3095,
 4256,
 3261,
 4726,
 2634,
 7964,
 463,
 3635,
 3598,
 7993,
 1960,
 983,
 1979,
 7913,
 4183,
 2903,
 5263,
 1436,
 4837,
 6935,
 8218,
 91,
 3144,
 2675,
 6458,
 7406,
 93,
 4176,
 5474,
 3535,
 5724,
 7070,
 3466,
 1425,
 6330,
 1437,
 7910,
 439,
 5313,
 547,
 2402,
 460,
 3015,
 4244,
 1000,
 6188,
 1162,
 4806,
 6243,
 5663,
 2762,
 18,
 8252,
 6815,
 6302,
 7272,
 724,
 1241,
 8205,
 6216,
 4408,
 2278,
 3511,
 654,
 593,
 3153,
 6774,
 8178,
 1681,
 676,
 4984,
 1807,
 4561,
 179,
 1679,
 3302,
 4555,
 4563,
 2681,
 2060,
 561,
 593,
 6180,
 1925,
 1919,
 7643,
 186,
 4414,
 5177,
 2492,
 5956,
 4763,
 7828,
 2383,
 4773,
 4977,
 3696,
 5770,
 6929,
 5689,
 1832,
 8187,
 1873,
 3531,
 3306,
 6257,
 7776,
 8289,
 81,
 7754,
 6999,
 883,
 2430,
 2887,
 157,
 4553,
 7966,
 3249,
 2141,
 5059,
 6393,
 6824,
 4018,
 700,
 4056,
 4702,
 2762,
 1694,
 555,
 182,
 4526,
 5825,
 702,
 4784,
 181,
 7501,
 6992,
 3474,
 1681,
 7422,
 3814,
 1705,
 7872,
 817,
 5677,
 6362,
 793,
 3780,
 6065,
 7489,
 2477,
 1318,
 1769,
 2146,
 4973,
 6909,
 970,
 5717,
 7633,
 1556,
 5915,
 3815,
 3921,
 1867,
 1703,
 6927,
 5425,
 6731,
 4120,
 3102,
 5760,
 2585,
 3195,
 8065,
 4086,
 7941,
 2272,
 2122,
 7721,
 6520,
 2915,
 5573,
 2901,
 1513,
 5529,
 1912,
 5493,
 6582,
 2007,
 6666,
 2377,
 1222,
 5970,
 2033,
 7109,
 2532,
 2218,
 5762,
 8425,
 5409,
 2161,
 111,
 6316,
 276,
 8137,
 3132,
 4106,
 8293,
 144,
 8516,
 6020,
 1600,
 4743,
 2692,
 3175,
 5431,
 6864,
 4264,
 5882,
 3191,
 7604,
 1464,
 5633,
 1995,
 2892,
 2480,
 1021,
 480,
 7050,
 3067,
 1315,
 4255,
 6040,
 3942,
 2873,
 937,
 5364,
 183,
 4347,
 2636,
 4258,
 718,
 476,
 1032,
 4595,
 3752,
 3115,
 3515,
 4343,
 5954,
 3728,
 380,
 4003,
 6282,
 4135,
 2385,
 3698,
 167,
 2173,
 5477,
 8325,
 3563,
 5455,
 7908,
 3181,
 270,
 3410,
 336,
 3854,
 2236,
 1347,
 2964,
 1858,
 6385,
 7017,
 2130,
 1225,
 6821,
 3779,
 7556,
 5508,
 4785,
 5454,
 6331,
 6874,
 3251,
 1125,
 3343,
 1440,
 5667,
 8489,
 3337,
 7050,
 8375,
 5337,
 1962,
 7243,
 2736,
 4042,
 2809,
 8452,
 6420,
 8267,
 2241,
 7813,
 5753,
 6585,
 7509,
 7180,
 246,
 5524,
 5249,
 7237,
 7465,
 5615,
 6235,
 5650,
 7661,
 2664,
 5462,
 1906,
 7489,
 2630,
 3033,
 4794,
 4660,
 8142,
 3085,
 1633,
 4973,
 104,
 2715,
 2037,
 7561,
 8147,
 7626,
 7000,
 5264,
 2745,
 1079,
 4342,
 3244,
 262,
 3940,
 5703,
 2987,
 2259,
 2816,
 4901,
 5261,
 7039,
 2687,
 3652,
 697,
 5484,
 8385,
 2686,
 7278,
 8148,
 4934,
 8242,
 1995,
 3976,
 3404,
 7191,
 6692,
 3173,
 3318,
 895,
 2267,
 3153,
 2296,
 4614,
 4684,
 551,
 486,
 3296,
 2352,
 4955,
 6415,
 1685,
 5472,
 901,
 232,
 4142,
 609,
 1403,
 2680,
 7232,
 4865,
 8143,
 5256,
 1986,
 5317,
 8276,
 7623,
 7081,
 6854,
 6218,
 2139,
 7576,
 1415,
 7308,
 6476,
 3577,
 7409,
 2988,
 1785,
 3041,
 5367,
 2452,
 6403,
 5725,
 4923,
 5332,
 1855,
 7611,
 4951,
 5757,
 1548,
 4740,
 3287,
 7572,
 3011,
 475,
 2109,
 6090,
 4861,
 8275,
 7438,
 6722,
 7438,
 5670,
 5623,
 3122,
 3606,
 1099,
 8355,
 5838,
 5434,
 5501,
 3623,
 5828,
 6052,
 1518,
 7377,
 7985,
 7089,
 8280,
 3599,
 6192,
 568,
 1005,
 2185,
 3443,
 8511,
 5288,
 8423,
 3079,
 7302,
 4129,
 3311,
 1491,
 5074,
 160,
 6550,
 226,
 6035,
 36,
 5829,
 5759,
 5192,
 4226,
 3053,
 4386,
 2720,
 537,
 575,
 2501,
 728,
 4006,
 4203,
 1083,
 2513,
 2363,
 1806,
 1705,
 5199,
 6402,
 8324,
 75,
 1479,
 8176,
 1787,
 5808,
 7042,
 6818,
 6947,
 1705,
 7005,
 5016,
 8400,
 4015,
 2722,
 2122,
 1677,
 1779,
 5260,
 4352,
 3726,
 39,
 1016,
 2333,
 4840,
 1932,
 7327,
 2159,
 1390,
 1709,
 1246,
 7846,
 4143,
 796,
 5506,
 7060,
 349,
 3273,
 4838,
 1457,
 5823,
 5204,
 7512,
 2023,
 7367,
 203,
 7511,
 2475,
 4850,
 1785,
 3787,
 5647,
 4229,
 2254,
 5903,
 1540,
 1355,
 1850,
 7102,
 7402,
 4942,
 2054,
 1642,
 112,
 8157,
 5022,
 8199,
 5378,
 7661,
 1633,
 1365,
 3259,
 7126,
 2281,
 3412,
 3088,
 1691,
 6100,
 5704,
 1511,
 7100,
 751,
 2406,
 7822,
 1119,
 7620,
 5405,
 5054,
 254,
 1290,
 1720,
 960,
 2857,
 1342,
 6946,
 4757,
 6867,
 2299,
 1992,
 215,
 4190,
 281,
 3446,
 5240,
 2049,
 1566,
 1729,
 4525,
 8162,
 1802,
 1976,
 6470,
 4791,
 6972,
 1581,
 7302,
 3166,
 8281,
 2319,
 5038,
 7630,
 542,
 5059,
 6788,
 2981,
 6586,
 7665,
 811,
 1755,
 5680,
 4709,
 3717,
 2052,
 5915,
 5270,
 4064,
 6928,
 5694,
 716,
 5949,
 7891,
 2956,
 2908,
 976,
 2014,
 7070,
 5233,
 7921,
 2927,
 2115,
 6134,
 8317,
 8120,
 4299,
 643,
 4705,
 2955,
 5960,
 5779,
 7690,
 5975,
 6857,
 1367,
 6773,
 2708,
 3430,
 7136,
 7580,
 4447,
 8221,
 7364,
 1603,
 5606,
 3385,
 6640,
 1279,
 2228,
 1850,
 3334,
 7597,
 3826,
 3367,
 7552,
 5103,
 402,
 5330,
 2379,
 2323,
 6693,
 6349,
 444,
 8292,
 635,
 7205,
 8128,
 2208,
 3310,
 2122,
 1281,
 7301,
 3751,
 5580,
 5245,
 1335,
 4083,
 4181,
 296,
 4990,
 8424,
 3055,
 466,
 3996,
 1542,
 3565,
 1547,
 1441,
 6436,
 652,
 125,
 3503,
 2558,
 6004,
 2091,
 5611,
 8193,
 4445,
 8226,
 6026,
 7629,
 8232,
 3040,
 6011,
 1730,
 5542,
 1764,
 6752,
 7594,
 1094,
 1855,
 1287,
 4666,
 6860,
 6850,
 1414,
 188,
 3886,
 2010,
 7251,
 5574,
 2617,
 754,
 8475,
 5395,
 2317,
 3270,
 8304,
 1160,
 4143,
 539,
 2034,
 895,
 5673,
 4108,
 7815,
 3210,
 2336,
 7363,
 7134,
 5425,
 1960,
 7604,
 8332,
 4572,
 7558,
 6813,
 6294,
 4928,
 957,
 3151,
 6188,
 6677,
 5946,
 1497,
 8364,
 4273,
 5685,
 4887,
 692,
 3656,
 3756,
 2741,
 1582,
 2323,
 2604,
 7308,
 860,
 5520,
 7486,
 5055,
 2202,
 7268,
 7547,
 5010,
 8040,
 6319,
 5449,
 8161,
 1653,
 5622,
 513,
 1274,
 8198,
 5599,
 3248,
 3147,
 2748,
 3948,
 6224,
 59,
 2707,
 8512,
 2762,
 3917,
 3380,
 4158,
 6181,
 645,
 4045,
 4338,
 3111,
 4376,
 1827,
 8463,
 1958,
 2952,
 1444,
 6991,
 2091,
 5957,
 5072,
 7828,
 3939,
 15,
 7053,
 1709,
 8264,
 723,
 3840,
 2463,
 1841,
 1942,
 4929,
 4051,
 3481,
 6799,
 3276,
 7939,
 6557,
 8382,
 5251,
 599,
 446,
 3915,
 6558,
 6114,
 6491,
 6443,
 2196,
 406,
 6532,
 7749,
 6902,
 5532,
 2299,
 7803,
 1245,
 2587,
 1568,
 5188,
 6591,
 4242,
 5622,
 ...]

In [8]:
# set the index
data.index = random_list

In [9]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
1997,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
6975,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
5179,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
4136,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4184,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

***Set another column of the dataframe as the index. We will use the set_index function. You can read more about here: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.set_index.html'***

---

In [22]:
# 1. change the index of the dataframe
# 2. drop=True is used to drop the column that's set as index
# 3. inplace=True is used to make changes in the original dataframe
# data = pd.read_csv('datasets/big_mart_sales.csv')

data.set_index('Outlet_Establishment_Year', drop=True, inplace=True)

In [23]:
# example of a label based index
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Outlet_Establishment_Year,,,,,,,,,,,
1999,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
2009,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
1999,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
1998,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
1987,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

In [0]:
data.index

Int64Index([1999, 2009, 1999, 1998, 1987, 2009, 1987, 1985, 2002, 2007,
            ...
            2004, 2002, 2009, 2009, 1997, 1987, 2002, 2004, 2009, 1997],
           dtype='int64', name='Outlet_Establishment_Year', length=8523)

---

### `WILL THE INDEX BE ALWAYS NUMERIC?`

---


***No, We can also have categorical variables as the index of a dataframe.*** 

---

In [0]:
# reset the index
data.set_index('Item_Identifier', drop= True, inplace=True)

In [15]:
# view the top rows of the data
data.head()

# no of rows
data.head(2)

,index,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,1997,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,6975,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228

In [0]:
# index of the data
data.index

Index(['FDA15', 'DRC01', 'FDN15', 'FDX07', 'NCD19', 'FDP36', 'FDO10', 'FDP10',
       'FDH17', 'FDU28',
       ...
       'FDH31', 'FDA01', 'FDH24', 'NCJ19', 'FDF53', 'FDF22', 'FDS36', 'NCJ29',
       'FDN46', 'DRG01'],
      dtype='object', name='Item_Identifier', length=8523)

---

#### `HOW TO SUBSET THE DATA BASED ON THE LABEL OF THE INDEX?`

- We can subset the data based on the label of the index using the `loc` function.
---

In [0]:
data.loc['FDA15']

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,
FDA15,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
FDA15,9.3,Low Fat,0.016055,Dairy,250.2092,OUT045,NaN,Tier 2,Supermarket Type1,5976.2208
FDA15,9.3,Low Fat,0.016019,Dairy,248.5092,OUT035,Small,Tier 2,Supermarket Type1,6474.2392
FDA15,9.3,Low Fat,0.016088,Dairy,249.6092,OUT018,Medium,Tier 3,Supermarket Type2,5976.2208
FDA15,9.3,Low Fat,0.026818,Dairy,248.9092,OUT010,NaN,Tier 3,Grocery Store,498.0184
FDA15,9.3,Low Fat,0.016009,Dairy,250.6092,OUT013,High,Tier 3,Supermarket Type1,6474.2392
FDA15,NaN,Low Fat,0.015945,Dairy,249.5092,OUT027,Medium,Tier 3,Supermarket Type3,6474.2392
FDA15,9.3,LF,0.016113,Dairy,248.8092,OUT017,NaN,Tier 2,Supermarket Type1,5976.2208

***What if we want to change the index back to positional?***

---

#### `CAN WE RESET THE INDEX?`

***Yes, we can reset the index. Let's see how? We will use the reset_index function. You can read more about here: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html***

---

In [19]:
# reset the index
data.reset_index(inplace=True)

ValueError: cannot insert level_0, already exists

In [20]:
# view the top rows of the data
data.head()

,level_0,index,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,0,1997,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,1,6975,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,2,5179,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,3,4136,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,4,4184,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

#### `HOW TO SUBSET THE DATA BASED ON A VALUE OF A COLUMN?`

---

In [21]:
data[data['Item_Type'] == 'Dairy']    # filter feature in excel

,level_0,index,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,0,1997,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
11,11,3134,FDA03,18.500,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530
19,19,6672,FDU02,13.350,Low Fat,0.102492,Dairy,230.5352,OUT035,2004,Small,Tier 2,Supermarket Type1,2748.4224
28,28,4382,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,1998,NaN,Tier 3,Grocery Store,178.4344
30,30,5995,FDV38,19.250,Low Fat,0.170349,Dairy,55.7956,OUT010,1998,NaN,Tier 3,Grocery Store,163.7868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8424,8424,5755,FDC39,7.405,Low Fat,0.159165,Dairy,207.1296,OUT035,2004,Small,Tier 2,Supermarket Type1,3739.1328
8447,8447,4106,FDS26,20.350,Low Fat,0.089975,Dairy,261.6594,OUT017,2007,NaN,Tier 2,Supermarket Type1,7588.1226
8448,8448,4943,FDV50,14.300,Low Fat,0.123071,Dairy,121.1730,OUT018,2009,Medium,Tier 3,Supermarket Type2,2093.9410
8457,8457,7029,FDY50,5.800,Low Fat,0.130931,Dairy,89.9172,OUT035,2004,Small,Tier 2,Supermarket Type1,1516.6924
8512,8512,7657,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,1987,High,Tier 3,Supermarket Type1,2479.4392

----

#### `WE WILL SEE HOW TO SUBSET THE DATA BASED ON POSITION, LABEL AND VALUES IN DETAIL`

---